body {
  text-align: center;
  font-family: 'Girassol', cursive;
  background: #0C0C99;
}

h1 {
  color: #E2E5ED;
}

p {
  border: 2px solid #E2E5ED;
  border-radius: 5px;
}

img {
  border: 2px solid #E2E5ED;
  border-radius: 5px;
  padding: 10px;
}

.leftSide {
  font-size: 20px;
  text-align: center;
  height: 100%;
}

.rightSide {
  font-size: 20px;
  text-align: center;
  height: 100%;
}

.slides {
  width: 34%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.character, .monsters, .games {
  height: 100%;
  display: flex;
  justify-content: space-around;
  background: #0C0C99;
  padding: 1em;
  font-family: 'Girassol', cursive;
  font-weight: bold;
  font-size: 2em;
  color: #E2E5ED;
}

.characterPic {
  height: 6em;
  width: 5em;
}

.slides {
  height: 300px;
}

.roster {
  width: 100%;
  padding: 20px 0;
  position: relative;
  height: 450px;
  text-align: center;
  margin: 0 auto;
}

.buttonLeft, .buttonRight, .random {
  background: rgba(255, 255, 255, 0.);
  cursor: pointer;
  border-radius: 50%;
  margin: 0 5px;
  top: 50%;
  border: 0;
  background: transparent;
}

.slides:hover {
  transform: scale(2);
}



